<!-- Pop-up description -->
<div id="popupDescription" class="popup" style="display: none;">
	<h2>About Us</h2>
	<p id="aboutText">Welcome to Travel-Experts! We offer secure online travel packages, ensuring safe and unforgettable
		experiences. Our expert team curates diverse itineraries tailored to your preferences and budget. With a focus
		on customer satisfaction, we prioritize safety and collaborate with trusted partners. Count on us for
		transparent information and exceptional support. Embark on an extraordinary journey with Travel-Experts and
		create lifelong memories. Book now and unlock the world! Start planning your next trip
		today! <br /></p>

	-Travel-Experts
	</p>
	<div class="divButXAbout">
		<button onclick="hidePopup()"><b>&#9650;</b></button>
	</div>
</div>
<script>
	function showPopup() {
		var popup = document.getElementById("popupDescription");
		popup.style.display = "block";
	}

	function hidePopup() {
		var popup = document.getElementById("popupDescription");
		popup.style.display = "none";
	}
</script>