<header class="registerHeader">
    <h2 class="title">Travel Experts</h2>
    <ul class="navList">
        <li class="navLink"><a class="registerLink" href="/">Home</a></li>
        <li class="navLink"><a class="registerLink" href="packages">Packages</a></li>
        <li class="navLink"><a class="registerLink" href="contact">Contact</a></li>
        <li class="navLink"><a class="registerLink" href="register">Sign Up</a></li>
        <li class="navLink"><a class="registerLink" href="#" onclick="showPopup()">About Us</a></li>
		
        <li class="navLink" style="position: absolute; right: 20px;"><a class="registerLink" href="login">Log in</a></li>
    </ul>
</header>
