<header class="registerHeader">
    <h2 class="title">Travel Experts</h2>
    <ul class="navList">
        <li class="navLink"><a class="registerLink" href="/">Home</a></li>
        <li class="navLink"><a class="registerLink" href="packages">Packages</a></li>
        <li class="navLink"><a class="registerLink" href="contact">Contact</a></li>
        <li class="navLink"><a class="registerLink" href="register">Sign Up</a></li>
    </ul>
</header>