.mainContainer
	{
		display: flex;
		flex-direction: column;  
		min-height: 100vh;
	}
	
#mainBody 
	{
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}

#mainHeader 
	{
		background-color: #333;
		color: #fff;
		padding: 20px;
		text-align: center;
	}

#mainNav 
	{
		text-align: center;
		margin-top: 20px;
	}

#mainNav a 
	{
		display: inline-block;
		margin: 0 10px;
		color: #333;
		text-decoration: none;
		font-weight: bold;
	}

#mainSection 
	{
		text-align: center;
		margin: 50px auto;
		filter: brightness(80%);
	}

#mainSection img 
	{
		width: 405px;
		height: 250px;
		margin: 10px;
	}

.mainContainer footer
	{
		background: white;
		align-self: center;
		align-content: stretch;
		text-align: center;  
		padding: 10px;  
		position: sticky;  
		bottom: 0;
	}
	
.regBody {
    margin: 0;
    /* background-color: rgb(169, 203, 224); */
    background-image: url("images/maldives.jpg");
    
}

/* register navbar */
.title {
    display: inline-block;
    color: rgb(72, 83, 94);
}
.navList {
    display: inline-block;
    padding-left: 20px;
    height: 27.5px;
    margin-top: 25px;
}
.navLink {
    display: inline-block;
    padding: 3px;
    font-size: 17px;
}
a.registerLink {
    text-decoration: none;
    color: slategray;
}
a.registerLink:hover {
    color: rgb(142, 219, 236);
}
.registerHeader {
    /* position: sticky;
    top: 0; */
    background-color: white;
}
/* end register navbar */



/* registration form styling */
#registerContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#registerForm {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 40px;
    width: 70%;
    max-width: 400px;
    border-radius: 8px;
}
#registerForm h2 {
    color: rgb(72, 83, 94);
}
.tab input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font: Arial;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1px 0;
}
input.invalid {
    border-color: #e04f4f;
}
.tab {
    display: none;
}
#prevBtn, #nextBtn, #clearBtn {
    padding: 5px 10px;
    margin: 2px 0;
    font-size: 17px;
    font: Arial;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(142, 219, 236);
    color: white;

}
#prevBtn:hover, #nextBtn:hover, #clearBtn:hover {
    opacity: 0.5;
}
.tab h4 {
    margin: 0;
    font-size: 17px;
    font: Arial;
    color: rgb(72, 83, 94);
}
/* End registration form */
