<!--Howard Song-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Travel-Expert</title>
        <style>	
            p {
                font-weight:bold;
            }
            footer {
                position: absolute;
                top: 1350px;
                width: 100%;
                text-align: center;
            }
			.contactRed {
				color:red;
			}
        </style>
    </head>
    <body class="contactBody">
        <div class="w3-container">
            <%- include('../partials/header') %>
        </div>
        <div class="contactSlide">slide down for contact info</div><br />
            <h2>Travel-Experts.ltd</h2><br />
            <p>Business Phone: 1(403)222-2222</p><br />
            <p class="contactRed">Contact Our Superstar travel agents!!!</p>
			<select id="select" onchange="onChange()">
				<% result.forEach(function(agent, i) { %>
					<option value="<%= i %>"><%= agent.AgtFirstName %> <%= agent.AgtLastName %></option>
				<% }); %>
			</select>
            <p id="label"></p>
            <p>Email: travelexperts@bussiness.com</p><br />
            <p>Location: 1301 16 Ave NW, Calgary AB T2M 0L4</p><br />
        </div><br />
        <footer>
            <p>Copyright &copy; To Travel-Experts(TEAM 5) Inc. 2023</p>
        </footer>
        <script>
			function onChange() {
				var select = document.getElementById("select");
				var index = select.value;
				var agent = result[index];
				document.getElementById("label").innerHTML = agent.AgtBusPhone + " " + agent.AgtEmail;
			}
            document.onscroll = function () {
                if (window.innerHeight + window.scrollY > document.body.clientHeight) {
                    document.getElementsByClassName('contactSlide').style.display = 'none';
                }
                else {
                    document.getElementsByClassName('contactSlide').style.display = 'block';
                }
            }
			/*document.onscroll = function () {
				if (window.innerHeight + window.scrollY > document.body.clientHeight) {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'none';
					}
				}
				else {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'block';
					}
				}
			};*/
        </script>
    </body> 
</html >