<!--Howard Song-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>Travel-Expert</title>
        <link rel="stylesheet" href="/styles.css"/>
        <style>
			
            /*link to other pages*/
            ul {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                overflow: hidden;
            }
            li {
                float: left;
            }
            a:link, a:visited {
                display: block;
                font-weight: bold;
                color: white;
                background-color: skyblue;
                width: 359px;
                text-align: center;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;
            }
            a:hover {
                background-color: red
            }
            /*contact info*/
            div.info {
                position: absolute;
                top: 950px;
                text-align: center;
                background-color: #333;
                color: #fff;
                padding: 20px;
                width: 100%;
            }
            p {
                font-weight:bold;
            }
            footer {
                position: absolute;
                top: 1350px;
                width: 100%;
                text-align: center;
            }
			.contactRed {
				color:red;
			}
        </style>
    </head>
    <body class="contactBody">
        <%- include('../partials/header') %> 
        <image src="images/contactus.jpg" width=50% height=40%>
        <div class="contactSlide">slide down for contact info</div><br />
            <h2>Travel-Experts.ltd</h2><br />
            <p>Business Phone: 1(403)222-2222</p><br />
            <p class="contactRed">Contact Our Superstar travel agents!!!</p>
			<select id="select" onchange="onChange()">
				<% result.forEach(function(agent, i) { %>
					<option value="<%= i %>"><%= agent.AgtFirstName %> <%= agent.AgtLastName %></option>
				<% }); %>
			</select>
            <p id="label"></p>
            <p>Email: travelexperts@bussiness.com</p><br />
            <p>Location: 1301 16 Ave NW, Calgary AB T2M 0L4</p><br />
        </div><br />
        <footer>
            <p>This page is copyrighted &copy; by Travel Expert.ltd 2023</p>
        </footer>
        <script>
			function onChange() {
				var select = document.getElementById("select");
				var index = select.value;
				var agent = result[index];
				document.getElementById("label").innerHTML = agent.AgtBusPhone + " " + agent.AgtEmail;
			}

            document.onscroll = function () {
                if (window.innerHeight + window.scrollY > document.body.clientHeight) {
                    document.getElementsByClassName('contactSlide').style.display = 'none';
                }
                else {
                    document.getElementsByClassName('contactSlide').style.display = 'block';
                }
            }
			
			/*document.onscroll = function () {
				if (window.innerHeight + window.scrollY > document.body.clientHeight) {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'none';
					}
				}
				else {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'block';
					}
				}
			};*/

        </script>
    </body> 
</html >