<!-- Andrew Sander -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Register</title>
</head>
<body class="regBody">
    <%- include('../partials/header') %>
    <main>
        <div id="registerContainer">
            <!-- Registration form (multi-step) -->
            <form action="/login" method="post" id="registerForm">
                <h2>Log in</h2>
                <div class="tab">
                    <input type="text" name="username" id="username" placeholder="username..." oninput="this.className = ''">
                    <input type="password" name="password" id="password" placeholder="password..." oninput="this.className = ''">
                </div>
                <div style="overflow: auto;">
                    <div style="float: left;">
                        <button type="button" id="clearBtn" onclick="clearForm()">Clear</button>
                    </div>
                    <div style="float: right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>
                <div style="width: 70%; max-width: 400px; text-align: center; margin: 0 auto;">
                    <div id="createAccount">
                        <div id="createAccountDiv">
                            <p style="margin-top: 0; padding-top: 40px; font-size: 12pt;">Don't have an account?<br><a class="registerLink" href="/register">Create one</a></p>
                        </div>
                    </div>            
                </div>
            </form>  
        </div>
    </main>
    <footer>
        
    </footer>
    <script>
        // multi-step login form (one step here but still works fine)
        var currentTab = 0;
        showTab(currentTab);

        function showTab(n) {
            var myTabs = document.getElementsByClassName("tab");
            myTabs[n].style.display = "block";

            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (myTabs.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
        }

        function nextPrev(n) {
            var myTabs = document.getElementsByClassName("tab");

            if (n == 1 && !validateForm()) return false;

            myTabs[currentTab].style.display = "none";

            currentTab = currentTab + n;

            if (currentTab >= myTabs.length) {
                document.getElementById("registerForm").submit();
                document.getElementById("lastTab").style.display = "block";
                return false;
            }

            showTab(currentTab);
        }

        function validateForm () {
            var myTabs = document.getElementsByClassName("tab");
            var myInput;
            var i;
            var valid = true;

            myInput = myTabs[currentTab].getElementsByTagName("input");

            for (i = 0; i < myInput.length; i++) {
                if (myInput[i].value == "") {
                    myInput[i].className += " invalid"
                    valid = false;
                }
            }
            return valid;
        }

        function clearForm (n) {
            
            var myTabs = document.getElementsByClassName("tab");
            var inputs = myTabs[currentTab].getElementsByTagName("input");
            var i;

            var confirmed = window.confirm("Are you sure you want to clear the fields?");

            for (i = 0; i<inputs.length; i++) {
                if (confirmed) {
                    inputs[i].value = '';
                }
            }
        }
        // end login form
    </script>
</body>
</html>