<!DOCTYPE html>
<!--Version 2: Plain html-->
<html>
<!--Main Page: 1- welcome the customer to the site and 2- provide links and menus to the other pages ( +Contact Us +Vacation Package +Customer Registration)-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Welcome to Travel-Experts</title>
	<script>
		//Set an array for images on main page
		var mainImages		=	new Array();
		mainImages			=	[
									"images/package1.jpg",
									"images/package2.jpg",
									"images/package3.jpg"
								];
		//Set an array for description of each image on main page
		var	mainDescriptions=	new Array();
		mainDescriptions	=	[
									"Picture 1 description.",
									"Picture 2 description.",
									"Picture 3 description."
								];
		
		function increaseBrightness(index)
			{
				var thisImage=document.getElementById("img"+index);
				thisImage.style.filter="brightness(140%)";
			}
		
		function resetBrightness(index) 
			{
				var thisImage = document.getElementById("img"+index);
				thisImage.style.filter = "brightness(100%)"; // Reset brightness to default
			}

	</script>			
</head>

<body id="mainBody">
<div class="mainContainer">
		<header>
			<section id="mainHeaderDiv">
			<!--Need an image for LOGO-->
				<div><img src="images/T5logo_bgHash333.gif" alt="TEAM5 Logo"> </div>
				<div><h1>Welcome to Travel-Experts</h1></div>
			</section>
		</header>

	<nav id="mainNav">
		<a href="contact" >Contact Us</a>
		<a href="packages">Vacation Package</a>
		<a href="register">Customer Registration</a>
	</nav>
  
	<section id="mainSection">
		<script>
			for(var i=1;i<=mainImages.length;i++)
				{
					document.write("<img id='img"+i+"' src = '"+mainImages[i-1]+"' alt='Package "+i+"' onmouseover='increaseBrightness("+i+")' onmouseout='resetBrightness("+i+")' />");
				}
		</script>
	</section>
	<div><p id="dscrption"></p></div>
  	<footer>
		<div><p>Copyright &copy; To Travel-Experts(TEAM 5) Inc. 2023</p></div>
	</footer>
</div>
</body>

</html>