<!--Cameron Olmats-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Purchase page</title>
		<script>
			function openPurchaseWindow(choice) {
				/*if (choice == "package1") { 
					window.open("https://en.wikipedia.org/wiki/Room_on_Fire", "", "_top", "fullscreen=yes");
				}
				if (choice == "package2") {
					window.open("https://en.wikipedia.org/wiki/Good_News_for_People_Who_Love_Bad_News", "", "_top", "fullscreen=yes");
				}*/
				window.open("/purchasewindow");
			}
		</script>
		<link rel="stylesheet" href="/styles.css"/>
		<style>
			table {
				position: relative;
				width:100%;
				margin-left: 30%
				
			}
			html, body {
				 height: 100%; 
				 width: 100%; 
				 margin: 0;
			}
			/* .package-choice {
			} */
		</style>
	</head>
	<!--Should we be worried about XML compatability? I forget the things he did in class to support XML.-->
	
	<!---->
	<body class="packagesBody">
		<!--same nav bar as on register.html-->
		<%- include('../partials/header') %>
		<nav class="packagesNav">
			<ul>
				<li>import list with ejs</li>
				<li><a href="#data1">Test data1</a></li>
				<li><a href="#data2">Test data2</a></li>
				<li><a href="#data3">Test data3</a></li>
				<li><a href="#data4">Test data4</a></li>
				<li><a href="#data5">Test data5</a></li>
			</ul>
		</nav>
		<!--Scroll box for travel package options-->
		<!-- Currently the options are just song lyrics and album covers for testing, I'll change it to actual package options soon-->
		<div class="packagesMainContent">
			<!-- Template for purchase options. -- Maybe use ejs to put this in an external function and then iterate to create the list?
			
			<p id="data#">		I used non descriptive id names so that a for loop could automatically make new data.
			
			</p><br/>
			<img/>
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
			-->
			
			<!----------------->
			
			<p id="data1">
				New York City: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
			</p><br/>
			<img class="travelPackageImages" src="./images/imgset/newyork.jpg"/>
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package1')">Purchase</button><br/>
			
			<!----------------->
			
			<p id="data2">
				Paris, France: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
			</p><br/>
			<img class="travelPackageImages" src="./images/imgset/larchdetriomphe.jpg"/> 
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
			
			<!----------------->
			
			<p id="data3">
				Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
			</p><br/>
			<img class="travelPackageImages" src="./images/imgset/sweden.JPG"/>
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package3')">Purchase</button><br/>
			
			<!----------------->
			
			<p id="data4">
				Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
			</p><br/>
			<img class="travelPackageImages" src="./images/imgset/sculpture.jpg"/>
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package4')">Purchase</button><br/>
			
			<!----------------->
			
			<p id="data5">
				Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
			</p><br/>
			<img class="travelPackageImages" src="./images/imgset/tower.jpg"/>
			<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package5')">Purchase</button><br/>
			</div>
		
		
	
		<footer class="packagesFooter">
			<p> hello this is the footer</p>
		</footer>
	</body>
</html>