<!--Purchase Page-->
<!--Cameron Olmats-->
<!DOCTYPE html>
<html>
	<head>
		<!-- ejs scriplet for title<title></title> -->
		<!--Temp title-->
		
		<title>Purchase Window</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css"/>
		
		<style>
		/* Setting the width/height of the page so the child nodes can use percentage width/heights */
			html, body {
				 height: 100%; 
				 width: 100%; 
				 margin: 0;
			}
			body {
				background-image: url("/images/maldives.jpg");
			}
		</style>
		<script>
			var defaultFormValues = new Array();

			function toggleBilling() {
				myCheck = document.getElementById("sameAsShippingAddress");
				myInputs = document.getElementsByClassName("billingInput")
				if (myCheck.checked) {
					for (i in myInputs) {
						myInputs[i].disabled= true;
					}
				}
				else {
					for (i in myInputs) {
						myInputs[i].disabled= false;
					}
				}
			}	
		</script>
		
	</head>
	<body>
		<%- include('../partials/header') %>
		<div class="customerFormDiv">
			<!--Might wanna put tool tips explaining what we're collecting the data for-->
			<form class="customerForm" action="bouncer.php" method="get">
				<div style="text-align: center">
					<span class="step">1</span>
					<span class="step">2</span>
					<span class="step">3</span>
					<span class="step">4</span>
				</div>

				<!--PACKAGE OPTIONS-->
				<div class=tab id="orderDetails">
					<h2>Order information</h2>
					<label for="needsFlight">Include flight:&nbsp;</label>
					<input type="checkbox" id="needsFlight" name="needsFlight"  oninput="this.className = ''"></input><br/>
					<label for="needsHotel">Book hotel(s) for me:&nbsp;</label>
					<input type="checkbox" id="needsHotel" name="needsHotel" oninput="this.className = ''"></input><br/>
					<label for="needsCar">Rent a car:&nbsp;</label>
					<input type="checkbox" id="needsCar" name="needsCar" oninput="this.className = ''"></input><br/>
					<label for="departureDate">Departure date:&nbsp;</label>
					<input type="date" id="departureDate" name="departureDate" value="" oninput="this.className = ''"></input><br/>
					<label for="returnDate">Return date:&nbsp;</label>
					<input type="date" id="returnDate" name="returnDate" value="" oninput="this.className = ''"></input><br/>
					<label for="numOfTravelers">Number of travelers:&nbsp;</label>
					<input type="number" id="numOfTravelers" name="numOfTravelers" value="1" oninput="this.className = ''"></input><br/>
					
				</div>

				<!--SHIPPING ADDRESS-->
				<div class=tab id="shippingAddress">
					<h2>Home Address</h2>
					<label for="custFirstName">First name</label><br/>
					<input type="text" id="custFirstName" name="custFirstName" value="" placeholder="First name" oninput="this.className = 'mandatory'"></input><br/>
					
					
					<label for="custLastName">Last name</label><br/>
					<input type="text" id="custLastName" name="custLastName" value="" placeholder="Last Name" oninput="this.className = 'mandatory'"></input><br/>
					<label for="custStreetAddress">Street Address</label><br/>
					<textarea id="custStreetAddress" name="custStreetAddress" value="" placeholder="Street Address" oninput="this.className = 'mandatory'"></textarea><br/>
					<label for="custAptOrSuit">Apt. or suite (optional)</label><br/>
					<textarea id="custAptOrSuit" name="custAptOrSuit" placeholder="Apt. or suite (optional)"></textarea><br/>
					<label for="custCountry">Country</label><br/>
					<input type="text" id="custCountry" name="custCountry" value="" placeholder="Country" oninput="this.className = 'mandatory'"></input><br/>
					
					<!--if we support multiple countries we'll need to change the input labels for province to states if US is selected-->
					
					<label for="custProvince">Province</label><br/>
					<input type="text" id="custProvince" name="custProvince" value="" placeholder="Province" oninput="this.className = 'mandatory'"></input><br/>
					<label for="custCity">City</label><br/>
					<input type="text" id="custCity" name="custCity" value="" placeholder="City" oninput="this.className = ''"></input><br/>
				</div>

				<!--BILLING ADDRESS-->
				<div class=tab id="billingAddress">
					<h2 style="display: inline-block">Billing Information &nbsp;&nbsp;</h2>
					<label for="sameAsShippingAddress">Home Address is same as Billing Address</label>
					<input type="checkbox" id="sameAsShippingAddress" name="sameAsShippingAddress" onClick="toggleBilling(this.value)" checked="checked" oninput="this.className = ''"></input>
					
					<label for="billingFirstName">First name</label><br/>
					<input class="billingInput" type="text" id="billingFirstName" name="billingFirstName" value="" disabled="true" placeholder="First name" oninput="this.className = ''"></input><br/>
					<label for="billingLastName">Last name</label><br/>
					<input class="billingInput" type="text" id="billingLastName" name="billingLastName" value="" disabled="true" placeholder="Last Name" oninput="this.className = ''"></input><br/>
					
					<label for="billingStreetAddress">Street Address</label><br/>
					<textarea class="billingInput" id="billingStreetAddress" name="billingStreetAddress" value="" disabled="true" placeholder="Street Address"></textarea><br/>
					<label for="billingAptOrSuit">Apt. or suite (optional)</label><br/>
					<textarea class="billingInput" id="billingAptOrSuit" name="billingAptOrSuit" value="" disabled="true" placeholder="Apt. or suite (optional)"></textarea><br/>
					<label for="billingCountry">Country</label><br/>
					<input class="billingInput" type="text" id="billingCountry" name="billingCountry" value="" disabled="true" placeholder="Country" oninput="this.className = ''"></input><br/>
					<label for="billingProvince">Province</label><br/>
					<input class="billingInput" type="text" id="billingProvince" name="billingProvince" value="" disabled="true" placeholder="Province" oninput="this.className = ''"></input><br/>
					<label for="billingCity">City</label><br/>
					<input class="billingInput" type="text" id="billingCity" name="billingCity" value="" disabled="true" placeholder="City" oninput="this.className = ''"></input><br/>
				</div>


				<!--PAYMENT DETAILS-->
				<div class=tab id="paymentDetails">
					<h2>Payment Details</h2>
					<!--Add picture button selectors for MasterCard and Visa and maybe a third choice-->
					<label for="cardNumber">Card Number</label><br/>
					<input type="text" id="cardNumber" name="cardNumber" value="" placeholder="---- ---- ---- ----" oninput="this.className = 'mandatory'"></input><br/>
					<label for="cardExpiration">Expiration Date</label><br/>
					<input type="text" id="cardExpiration" name="cardExpiration" value="" placeholder="mm/yy" oninput="this.className = 'mandatory'"></input><br/>
					<label for="cardCVV">CVV</label><br/> <!--Would be cool to put little diagram of the card layout INSIDE the input box to the far right-->
					<input type="text" id="cardCVV" name="cardCVV" value="" placeholder="---" oninput="this.className = 'mandatory'"></input><br/>
					<label for="custPhone">Phone (optional)</label><br/>
					<input type="text" id="custPhone" name="custPhone" value="" placeholder="Phone" oninput="this.className = ''"></input><br/>
					<label for="custEmail">Email (optional)</label><br/>
					<input type="text" id="custEmail" name="custEmail" value="" placeholder="Email" oninput="this.className = ''"></input><br/>
					<p id="phoneDisclaimer">We will only use your email and phone number to send your tickets and reciepts and/or contact you should any issues arise. 
						Your contact information will not be distributed.</p>
				</div>
				<div class="buttonGroup">
					<div style="float:right;">
						
						<button type="button" class="purchaseFormButton" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
						<button type="button" class="purchaseFormButton" id="nextBtn" onclick="nextPrev(1)">Next</button>
						
					</div>
				</div>
				<!--<button type="submit">Proceed to Purchase</button>-->
			</form>
			
		</div>
		<footer>
		</footer>
		<script>
			var currentTab = 1;
			showTab(currentTab);
			function showTab(n) {
				var tabsList = document.getElementsByClassName("tab");
				tabsList[n].style.display = "block";
				if (n == 0) {
					document.getElementById("prevBtn").style.display = "none";
				}
				else {
					document.getElementById("prevBtn").style.display = "inline-block";
				}
				if (n == (tabsList.length)) {
					document.getElementById("nextBtn").innerHTML = "Submit";
				}
				else {
					document.getElementById("nextBtn").innerHTML = "Next";
				}
				fixStepIndicator(n);
			}
			function nextPrev(n) {
				var tabsList = document.getElementsByClassName("tab");
				if ((n == 1) && !validateForm()) {
					return false;
				}
				tabsList[currentTab].style.display = "none";
				currentTab += n;
				if (currentTab >= tabsList.length) {
					document.getElementById("customerForm").submit();
					return false;
				}
				showTab(currentTab);
			}
			
			function validateForm() {
				var valid = true;
				var tabsList = document.getElementsByClassName("tab");
				//var currentTabFields = tabsList[currentTab].getElementsByTagName("input");
				var currentTabFields = tabsList[currentTab].getElementsByClassName("mandatory");
				for (i=0; i<currentTabFields.length; i++) {
					if ((currentTabFields[i].value == false) || (currentTabFields[i].value == "")){
						currentTabFields[i].className += " invalid";
						valid = false;
					}
				}
				if (valid) {
					document.getElementsByClassName("step")[currentTab].className += " finish";
				}
				return valid;
			}
			function fixStepIndicator(n) {
				var stepsList = document.getElementsByClassName("step");
				for (i=0; i < stepsList.length; i++) {
					stepsList[i].className = stepsList[i].className.replace(" active", "");
				}
				stepsList[n].className += " active";
			}

			function addMandatory() {
				var tabsList = document.getElementsByClassName("tab");
				var currentTabFields = tabsList[CurrentTab].getElementsByTagName("input");
			}
		</script>
	</body>
</html>