<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank you!</title>
        <link rel="stylesheet" href="/styles.css"/>
        <style>
            html, body {
				 height: 100%; 
				 width: 100%; 
				 margin: 0;
			}
			body {
				background-image: url("/images/oceansun.jpg");
                background-size: cover;
                background-repeat: no-repeat;

			}
        </style>
    </head>
    <body>
        <!--<%- include("../partials/header")%>-->
        <div id="thankyouContent">
            <div id="message">
                <h2>Thank you for your purchase</h2>
                <a href="/">Return to home page</a>
            </div>
        </div>  
    </body>
</html>